__pycache__/
/dist/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage

# generated sources
# Since the openapi file has no license and cannot be distributed, include the generated code
#/gen

# cache
/.lapidary_cache/

# no license to distribute
/openapi.yaml
