__pycache__/
/dist/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage

# generated sources
/gen

# cache
/.lapidary_cache/

# no license to distribute
/openapi.yaml
